<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title>watchNow</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/spezific.css">
<script>console.log("loaded page");</script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/client.js"></script>
<script src="/socket.io/socket.io.js"></script>