<!-- views/partials/header.ejs -->
<div align="center" style="margin-top: 30px;"><button  id="usbStickAuswerfenTop" style="width: 100px; height: 67px; border-radius: 20px; border: 0px; padding-bottom: ; padding-top:; background-color: #bc4b51;" class="btn btn-default"><span style="font-size:2.5em; vertical-align:middle;" class="glyphicon glyphicon-eject"></span><br>USB</button></div>
