<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			
			<div  align="center"><img id="ichArbeite" style="width: 15%;" src="gif/ajax-loader.gif" align="center"></div>
			<h4 align="center" style="margin-bottom: 10px;">Folgende Dateien werden auf den USB Datenträger gespeichert:</h4>


					<ul class="list-group" id="bilderDieGespeichertWerden"></ul>

	
			
			
			
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>