<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			
			
			<h2>System Status</h2>
			<br>
			<ul>
				<li style="list-style-type: none;">
					<% if (systemStatus.usbOK) {%>
					<span style="font-size:2.5em;" class="glyphicon glyphicon-ok"></span>
					<%} else {%>
					<span style="font-size:2.5em;" class="glyphicon glyphicon-remove"></span>
					<% } %>
					USB-Stick</li>
			</ul>
			<br>
			<ul>
				<li style="list-style-type: none;">
					<% if (systemStatus.kameraOK) {%>
					<span style="font-size:2.5em;" class="glyphicon glyphicon-ok"></span>
					<%} else {%>
					<span style="font-size:2.5em;" class="glyphicon glyphicon-remove"></span>
					<% } %>
					Kamera</li>
			</ul>
			
			
		</div>
		<button class="btn btn-default btn-lg" type="button" style="background-color:#e8e8e8">hallo</button>
		<button class="btn btn-default btn-lg" type="button" style="background-color:#bfbfbf">hallo</button>
		<button class="btn btn-default btn-lg" type="button" style="background-color:#96939b">hallo</button>
		<button class="btn btn-default btn-lg" type="button" style="background-color:#564256">hallo</button>
		<button class="btn btn-default btn-lg" type="button" style="background-color:#fc814a">hallo</button>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>